


@media(max-width:1400px){
    .banner-heading {
    bottom: 0;}

    .section-heading::after {
    top: 11%;
    left: 17%;
}
.title::before {
    top: 16%;
    left: 37%;
}
.title::after {
    top: 16%;
    left: 56%;
}
.Pricelist-section .title::before {
    top: 17%;
    left: 37%;
}
.Pricelist-section .title::after {
    top: 17%;
    left: 56%;
}
.amenities-section .title::before {
    top: 20%;
    left: 36%;
}
.amenities-section .title::after {
    top: 20%;
    left: 56%;
}
.amenities-box p {
    font-size: 15px;
}
.floorplan-section .title::before {
    top: 13.5%;
    left: 37%;
}

.floorplan-section .title::after {
    top: 13.5%;
    left: 56%;
}
.gallery-section .title::before {
    left: 38%;
}
.gallery-section .title::after {
    top: 14%;
    left: 55%;
}
.location-advantage .title::before {
    left: 31%;
}
.location-advantage .title::after {
    left: 61%;
}
.developer .title::before {
    top: 12.5%;
    left: 33%;
}
.developer .title::after {
    top: 12.5%;
    left: 60%;
}


}


@media(max-width:1366px){
    .banner-heading {
    bottom: 0;
    padding: 15px 0;
}
span.typology {
    font-size: 13px;}
.title::before {
    top: 17%;
    left: 37%;
}
.title::after {
    top: 17%;
    left: 56%;
}

.Pricelist-section .title::before {
    top: 17%;
    left: 36%;
}
.Pricelist-section .title::after {
    top: 17%;
    left: 56%;
}
.amenities-section .title::before {
    top: 20%;
    left: 36%;
}
.amenities-section .title::after {
    top: 20%;
    left: 56%;
}
.amenities-box p {
    font-size: 15px;
}
.floorplan-section .title::before {
    top: 13.5%;
    left: 36%;
}

.floorplan-section .title::after {
    top: 13.5%;
    left: 56%;
}
.gallery-section .title::before {
    left: 37%;
}
.gallery-section .title::after {
    top: 14%;
    left: 55%;
}
.location-advantage .title::before {
    left: 31%;
}
.location-advantage .title::after {
    left: 61%;
}
.developer .title::before {
    top: 11.5%;
    left: 32%;
}
.developer .title::after {
    top: 11.5%;
    left: 60%;
}




}

@media(max-width:1280px){
.banner-heading {
    bottom: 0;}
    span.typology {
    font-size: 13px;}
.banner-heading {
    padding: 13px 0;
}
    .section-heading::after {
    top: 12%;
    left: 20%;
}
.title::before {
    top: 17%;
    left: 36%;
}
.title::after {
    top: 17%;
    left: 56%;
}
.Pricelist-section .title::before {
    top: 17%;
    left: 36%;
}
.Pricelist-section .title::after {
    top: 17%;
    left: 56%;
}
.amenities-section .title::before {
    top: 20%;
    left: 36%;
}
.amenities-section .title::after {
    top: 20%;
    left: 56%;
}
.amenities-box p {
    font-size: 15px;
}
.floorplan-section .title::before {
    top: 13.5%;
    left: 36%;
}

.floorplan-section .title::after {
    top: 13.5%;
    left: 56%;
}
.gallery-section .title::before {
    left: 37%;
}
.gallery-section .title::after {
    top: 14%;
    left: 55%;
}
.location-advantage .title::before {
    left: 31%;
}
.location-advantage .title::after {
    left: 61%;
}
.developer .title::before {
    top: 11.5%;
    left: 32%;
}
.developer .title::after {
    top: 11.5%;
    left: 60%;
}





}




@media(max-width:967px){
.navbar>.container-fluid{
  
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
padding: 0 10px !important;
}
.navbar-brand  img{
    width: 150px;
}
.call-btn{
    font-size: 14px;
    padding: 5px 8px;
}
.btn .line{    
    width: 25px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px auto;

}
.carousel-item img{
    height: 45vh;
    background-size: cover;
    background-position: center;
}

.key-highlight{
    gap: 4px;
    margin-top: 20px;
}
span.typology{
    width: fit-content;
    font-size: 20px;
}

.price-amount {
    font-size: 18px;

}
.key-highlight span {
    font-size: 13px;
    letter-spacing: 1px;
}
.key-highlight .fa-solid {
    font-size: 15px;
}

.banner-heading{
    position: static;
}
.section-heading {
    font-size: 33px;
}

.section-heading::after {
           top: 8.2%;
    left: 45%;
}
.second-heading {
    font-size: 23px;
    margin-bottom: 25px;}

.highlight-content-box{
    padding-left: 0;
}

.title::before{
      
       top: 12%;
       left: 7%;
       /* mix-blend-mode: difference; */
}
.title::after{
    
     top: 12%;
     /* mix-blend-mode: difference; */
     left: 69%;
}

    .amenities-box {
        padding: 9px 0;
        gap: 5px;
    }


.amenities-box p {
    font-size: 13px;

}

.col-xl-2.col-md-2.col-sm-4.col-4{
    margin-bottom: 10px;
}
.amenities-box img{
        max-width: 40px;
       

}

.even-number .row > Div:nth-child(odd) .amenities-box {
  background-color: transparent;

}

.odd-number .row > Div:nth-child(even) .amenities-box {
  background-color: #fff;

}
.odd-number .row > Div:nth-child(even) .amenities-box img{
 filter: invert(1);

}
.odd-number .row > Div:nth-child(even) .amenities-box p{
color: #000;

}
.odd-number .row > Div:nth-child(odd) .amenities-box {
    background-color: #f5f5f500;
}
.odd-number .row > Div:nth-child(odd) .amenities-box img{
    filter: invert(1);
}
.odd-number .row > Div:nth-child(odd) .amenities-box p{
    color: #fff;
}
/* .amenities-box p{
    color: #fff;
} */

thead{
    display: none;
}
th, td{
    display: block;
    text-align: center;
}

tr td{
            font-size: 18px !important;
    }
    tr td:first-child{
    font-size: 25px !important;
}
.custom-table tr td:first-child{
    padding-top: 25px 0;
}
.custom-table tr td:last-child {
    padding-bottom: 25px 0;
}
.custom-table tbody tr td{
border-radius: 15px;
}

.Pricelist-section .title::before {
    top: 9.5%;
    left: 10%;
}
.Pricelist-section .title::after {
    top: 9.5%;
    left: 66%;}

    .floorplan-section .title::before {
       top: 13%;
    left: 8%;
    }
    .floorplan-section .title::after {
    top: 13%;
    /* mix-blend-mode: difference; */
    left: 69%;
    }
    ul#myTab{
        height: auto;
    }
    .tab-content>.tab-pane {
    margin-top: 22px;
}
.location-advantage .title::after {
    width: 50px;
    top: 10%;
    /* mix-blend-mode: difference; */
    left: 84%;
}
.location-advantage .title::before {
    width: 50px;
 top: 10%;
left: 3%;
    /* mix-blend-mode: difference; */
}
.developer .title::before {
    width: 50px;
    top: 8%;
    left: 8%;}
    .developer .title::after {
    width: 50px;
    top: 8%;
    /* mix-blend-mode: difference; */
    left: 79%;}
      .contact-us {
        padding: 40px 20px;
        /* margin: 10px; */
        width: 100%;
    }
    .form-control, .form-control:focus{
        width: 100%;
    }
    .form-button button {
    width: 100%;}
    .form-button .check-out {
    width: 100%;}
    .gallery-section .title::before {
    top: 13%;
    left: 12%;}
    .gallery-section .title::after {
 top: 13%;
    left:63%
}
.form-control, .form-control:focus, .form-control:active, .btn:hover{
    color: #fff;
}
}