@media(max-width:967px){
.navbar>.container-fluid{
  
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
padding: 0 10px !important;
}
.navbar-brand  img{
    width: 150px;
}
.call-btn{
    font-size: 14px;
    padding: 5px 8px;
}
.btn .line{    
    width: 25px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px auto;

}
}